# Dependências
node_modules/
dist/

# Variáveis de ambiente (SEGURANÇA!)
.env

# Banco de dados SQLite local
*.db
*.db-journal

# Logs
logs/
*.log

# Pasta de build/compilação (se você usa o comando 'tsc')
dist/
build/

# Prisma
# Geralmente ignoramos o que é gerado automaticamente para evitar conflitos
/generated

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# IDEs e Editores
.vscode/
.idea/