# Dependências
node_modules/

# Compilação
dist/
out/
build/

# Docs 
docs/

# Banco de Dados Local 
data/*.json

# Logs (Registros de acesso podem conter dados sensíveis)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Variáveis de ambiente
.env

# Logs e Cache
npm-debug.log*
.eslintcache

# Arquivos do Sistema e Editores
.DS_Store
.vscode/